accelerate==1.6.0
bitsandbytes==0.42.0
dotenv==0.9.9
fastapi==0.115.12
huggingface-hub==0.30.2
langchain==0.3.23
langchain-core==0.3.52
langchain-huggingface==0.1.2
langchain-text-splitters==0.3.8
numpy==1.26.4
opencv-contrib-python==4.11.0.86
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
paddleocr==2.10.0
paddlepaddle==3.0.0
pandas==2.2.3
pillow==11.2.1
pydantic==2.11.3
PyMySQL==1.1.1
python-dotenv==1.1.0
python-multipart==0.0.20
setuptools==75.8.0
sentence-transformers==4.1.0
torch==2.2.2
transformers==4.51.3
uvicorn==0.34.1